@import "general";
//--------------- variables ------------------

$widthTextBlock: 70%;

$widthFrontImg: 200px;
$heightFrontImg: 250px;

//-------------- styles ----------------------
.bg-style-body {
    background-image: $bgImg;
    background-color: $mainBgColorBlue;

    .about {
        font-family: forAllSiteBold;
        font-size: 1rem;
                                                
        .text {
            width: $widthTextBlock;
            margin: 0 auto;
            text-align: justify;
            padding: 15px 0;

            h1 {
                text-align: left;
                color: $mainColorBlue;
            }
            h2 {
                text-align: left;
                color: $mainColorGreen;
            }
            img {
                float: right;
                width: $widthFrontImg;
                height: $heightFrontImg;
                margin: 0 10px;
            }
            p {
                text-indent: 20px;
                margin: 0;
            }
        }
        @media screen and (max-width: 320px) {
            font-size: 0.8rem;
            .text {
                width: 90%;
                img {
                    display: block;
                    margin: 0 auto 10px;
                    float: none;
                    width: 60%;
                    height: auto;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
        @media screen and (min-width: 321px) and (max-width: 425px) {
            .text {
                font-size: 0.9rem;
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
        @media screen and (min-width: 321px) and (max-width: 666px) {
            .text {
                width: 90%;
                img {
                    display: block;
                    margin: 0 auto 10px;
                    float: none;
                }
            }
        }

    }
}



