@import "general";
//--------------- variables ------------------

$fontSizeText: 16px;
$widthTextBlock: 70%;

$widthFrontImg: 200px;
$heightFrontImg: 250px;

//-------------- styles ----------------------
.bg-style-body {
    background-image: $bgImg;
    background-color: $mainBgColorBlue;

    main {
        font-family: forAllSiteBold;
        font-size: $fontSizeText;

        .text {
            width: $widthTextBlock;
            margin: 0 auto;
            text-align: justify;
            padding: 15px 0;

            h1 {
                color: $mainColorBlue;
            }
            h2 {
                color: $mainColorGreen;
            }
            img {
                float: right;
                width: $widthFrontImg;
                height: $heightFrontImg;
                margin: 0 10px;
            }
        }
    }

}

