@import "general";
//--------------- variables ------------------
$widthMain: 70%;
$widthContactsList: 50%;
//-------------- styles ----------------------
.contacts {
    font-family: forAllSiteBold;
    font-size: 1.15rem;
    text-align: center;
    width: $widthMain;
    margin: 0 auto;
    
    h1 {
        color: $mainColorBlue;
        font-size: 2rem;
    }

    ul {
        width: $widthContactsList;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;

        li {
            a {
                display: flex;
                width: 100%;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                min-height: 3em;
                margin-bottom: 1em;
                padding: 0 3em;
                border-radius: 0.3em;
                background-color: $mainColorBlue;
                color: $mainColorBeige;
                text-decoration: none;

                
                .icon-style {
                    color: $mainColorBeige;
                    font-size: 2rem;
                    transform: rotate(9deg);
                }
            } 

            &:nth-child(even) {
                a {
                    background-color: $mainColorGreen;
                }
            }
        } 
    }
    .formMsgBox {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
         
        & > label {
            align-self: flex-start;
        }

        .textBox {
            resize: none;
            border: 2px solid $mainColorGreen;
            border-radius: 0.3em;
            margin-bottom: 1em;
            font-family: forAllSite;
            font-size: 1.15rem;
            outline: none;
            background-color: $mainBgColorBeige;

            &:focus {
                border-color: $mainColorBlue;
            }
        }
        .emailBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-bottom: 1em;

            label {
                margin-right: 0.5em;
            }
            input {
                flex-grow: 1;
                border: 2px solid $mainColorGreen;
                border-radius: 0.3em;
                font-family: forAllSite;
                font-size: 1.15rem;
                outline: none;
                background-color: $mainBgColorBeige;

                &:focus {
                    border-color: $mainColorBlue;
                }
            }  
        }
        .sendMsgBtn {
            width: $widthContactsList/2;
            align-self: flex-end;
            outline: none;
            margin-bottom: 1em;
            border-color: $mainColorGreen;
            border-radius: 0.3em;
            background-color: $mainColorGreen;
            color: $mainColorBeige;
            font-family: forAllSiteBold;
            font-size: 1rem;
        }
    }
    
}
@media screen and (max-width: 320px) {
    .contacts {
        width: 100%;
        font-size: 0.9rem;
        padding: 0 15px;

        h1 {
            font-size: 1.5rem;
        }

        ul {
            li {
                a {
                    flex-wrap: wrap;
                }
            }
        }
    }
}
@media screen and (min-width: 321px) and (max-width: 425px) {
    .contacts {
        width: 90%;
        font-size: 0.9rem;

        h1 {
            font-size: 1.5rem;
        }
        
    }
}
@media screen and (max-width: 500px) {
    .contacts {
        ul {
            li {
                a {
                    padding: 0 1em;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .contacts {
        ul {
            width: 100%;
        }
    }
}
@media screen and (min-width: 901px) and (max-width: 960px) {
    .contacts {
        ul {
            li {
                a {
                    padding: 0 1em;
                }
            }
        }
    }
}
