* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
/* navigation */
nav {
    width: 100%;
    height: 60px;
    background-color: rgba(88, 86, 86, 0.95);
    border-bottom: 1px solid rgb(119, 136, 153);
    position: fixed;
    z-index: 2;
}
.navbar {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
    .navbar a {
        align-self: center;
        text-decoration: none;
        margin: 0 1em;
        color: rgb(255, 255, 255);
    }
    .navbar a:hover {
        color: rgb(221, 160, 221);
    }
.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    user-select: none;
}

/* section about */
.about_block {
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
    height: fit-content;
}
.about {
    min-height: 750px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.about img {
    width: 40%;
    height: fit-content;
    margin: 1em 0;
    align-self: center;
}
.about_text {
    width: 30%;
    margin: 1em 0;
    align-self: center;
    color: lightslategrey;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}
    .about_text h2 {
        color: rgb(255, 255, 255);
        letter-spacing: .1em;
        font-size: 1.5em;
    } 
    .about_text p { 
        margin-top: 0;
    }
.comma {
    display: block;
}
    .left {
        text-align: left;
    }
    .right{
        text-align: right;
    }

@media screen and (max-width: 850px) {
    .about { 
        flex-direction: column;
        height: fit-content;
    }
    .about img {
        width: 80%;
    }
    .about_text {
        width: 80%;
    }
}

/* section projects */
.projects_block {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 60px;
    margin: 0 auto;
    border-bottom: .7em solid rgb(245, 245, 245)
}
.projects_block > h1 {
    text-transform: uppercase;
}
.projects {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
}
.block {
    width: 50%;
    border-left: 3px solid #4B515D;  
}
.left_align {
    margin-left: 50px;
}
.item_project {
    width: 85%;
    margin: .2em 0 .2em 3em;
    padding: 0 1em;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
}

.fa-git-square {
    text-decoration: none;
    font-size: 1.3em;
    position: absolute;
    right: 1em;
}

.item_project:hover {
    background-color: rgb(75, 81, 93);
    color: lightgrey;
}
.item_project::before {
    content: "";
    border: 6px solid rgb(221, 160, 221);
    display: inline-block;
    position: absolute;
    top: 45%;
    left: -3.5em;  
}
.item_project:hover::before {
    border-color: rgb(0, 0, 0);
}
.item_project a {
    color: rgba(76, 122, 214, 1);
}
.item_project:hover a {
    color: white;
}
.head_with_add {
    margin-bottom: 8px;
}
.add_description {
    margin-top: 0;
    font-size: 14px;
}
.add_description > span {
    font-style: italic;
}
.item_project:hover .add_description  {
    color: white;
}
.item_project:hover a:hover {
    color: rgb(187, 221, 243);
}

.space {
    height: 220px;
    background-color: black;
    background-image: url('../img/black.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
    .space {
      background-attachment: scroll;
    }
}

/* section contacts */
.contacts_block {
    width: 100%;
    height: fit-content;
    border-top: 1em solid rgb(245, 245, 245);
    border-bottom: 1em solid rgb(245, 245, 245);
}
.contacts {
    height: 350px;
    align-content: center;
    padding: 60px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}
.contacts h2 {
    text-transform: uppercase;
    z-index: 1;
}
.order-block {
    display: flex;
    justify-content: space-evenly;
}
.order-block ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;  
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-block ul li {
    margin-bottom: 1em;
    z-index: 1;
}
.order-block ul li i + a {
    margin-left: 5px;
}
.order-block ul li i {
    color: rgba(76, 122, 214, 1);
}
.contacts img {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    user-select: none;
}
@media screen and (max-width: 699px) {
    .projects_block {
        padding-left: 30px;
        padding-right: 5px;
    }
    .projects_block > h1 {
        margin-left: 50px;
    }
    .projects {
        flex-direction: column;
        margin: 0;
    }
    .block {
        width: 100%;
    }
    .left_align {
        margin-left: 0;
    }
    .item_project {
        width: 95%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: 1em;
    }
    .item_project::before {
        left: -1.5em;
    }
    .contacts {
        padding-left: 5px;
        padding-right: 0;
    }
    .contacts h2 {
        margin-left: 50px;
    }
}
@media screen and (min-width: 700px) and (max-width: 914px) {
    .projects {
        flex-direction: column;
    }
    .block {
        width: 100%;
    }
    .left_align {
        margin-left: 0;
    }
    .item_project {
        margin-left: 3em;
    }
    .item_project::before {
        left: -3.5em;
    }
}
@media screen and (min-width: 1400px) {
    .projects {
        width: 85%;
    }
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    position: sticky;
    bottom: 0;
    z-index: -1;
    background-color: black;
    color: rgb(119, 136, 153);
    font-size: .9em;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer span {
    align-self: center;
}
.noindex {
    width: 88px;
    height: 31px;
    position: fixed;
    bottom: 0;
    left: 0; 
}


