@import "general";
//--------------- nav variables for the main page -----------------------
$widthNav: 100%;
$heightNav: 100vh;

$widthMenu: 45%;
$heightMenuLink: 50px;
//-------------------- nav variables for all pages -----------------------
$navBlockHeight: 60px;

//-------------------- nav style for the main page -----------------------
nav {
    height: $heightNav;
    width: $widthNav;
    display: flex;

    .menu-part {
        width: $widthMenu;
        background-color: $mainBgColorBeige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            height: $heightMenuLink;
            font-size: 2rem;
            font-family: forNavigationLinks;
            letter-spacing: 5px;
            text-decoration: none;
            color: $mainColorGreen;

            &:hover {
                color: $colorMenuLinkHover;

                &::after {
                    content: "\2022";
                    display: block;
                    line-height: 0.2;
                    width: fit-content;
                    height: fit-content;
                    margin: 0 auto;
                    color: $colorMenuBullet;
                }
            }

            @media screen and (max-width: 320px) {
                font-size: 1.5rem;
                height: $heightMenuLink - 15px;
            }
            @media screen and (min-width: 321px) and (max-width: 425px) {
                font-size: 1.5rem;
                height: $heightMenuLink - 10px;
            }
            @media screen and (min-width: 426px) and (max-width: 768px) {
                font-size: 2rem;
                height: $heightMenuLink - 5px;
            }
        }
    }
}

//------------- style for navigation part for all pages ---------------

.navigation-block {
    width: 100%;
    height: $navBlockHeight;
    background-color: $mainBgColorBeige;
    border-bottom: 1px solid $mainColorGreen;
    display: flex;
    justify-content: space-between;

    .open-nav {
        width: $navBlockHeight - 1px;
        height: $navBlockHeight - 1px;
        border: none;
        padding: 0;
        background-color: $mainBgColorBeige;
        color: $mainColorGreen;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            color: $colorMenuLinkHover;
        }
        @media screen and (min-width: 769px) {
            font-size: 2.5rem;
        }
    }

    .moving-nav {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        overflow-y: hidden;
        background-color: $mainBgColorBeige;
        transition: 1s ease-out;

        .moving-nav-links {
            width: 100%;
            a {
                transition: 0.1s;
                overflow: hidden;
            }
        }
        .close-nav {
            position: absolute;
            top: 0;
            left: 0;
            width: $navBlockHeight - 1px;
            height: $navBlockHeight - 1px;
            padding: 0;
            font-size: 2rem;
            border: none;
            background-color: $mainBgColorBeige;
            color: $mainColorGreen;
            cursor: pointer;

            &:hover {
                color: $colorMenuLinkHover;
            }

            @media screen and (min-width: 769px) {
                font-size: 2.5rem;
            }
        }
    }
}


