@font-face {
  font-family: forAllSite;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
}

@font-face {
  font-family: forAllSiteBold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
  font-family: forNavigationLinks;
  src: url(../fonts/Itim/Itim-Regular.ttf);
}

section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 10px;
  font-family: forAllSite;
  font-size: 15px;
}

section > h1 {
  font-family: forAllSiteBold;
  text-align: center;
  color: #55719e;
  font-size: 28.5px;
}

section .projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

section .projects-grid .block {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%;
  background-color: #55719e;
  color: #f3e4bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.8rem;
  text-align: center;
}

section .projects-grid .block .image {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
}

section .projects-grid .block .image img {
  width: 100%;
  height: 250px;
  border-radius: 1.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

section .projects-grid .block .image .tech-btn {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 1.15rem;
  border-bottom-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  -webkit-backdrop-filter: blur(2px) brightness(0.8);
          backdrop-filter: blur(2px) brightness(0.8);
  position: absolute;
  bottom: -0.5%;
}

section .projects-grid .block .image .tech-btn ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .projects-grid .block .image .tech-btn ul li {
  position: relative;
}

section .projects-grid .block .image .tech-btn ul li .popout-menu {
  position: absolute;
  bottom: 100%;
  left: -180%;
  visibility: hidden;
  width: 70px;
  height: 17px;
  background-color: azure;
  color: black;
  font-size: 0.8rem;
}

section .projects-grid .block .image .tech-btn ul li:hover > .popout-menu,
section .projects-grid .block .image .tech-btn ul li:focus > .popout-menu,
section .projects-grid .block .image .tech-btn ul li:focus-within > .popout-menu {
  visibility: visible;
}

section .projects-grid .block .description {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .projects-grid .block .description .mark-link-text > a {
  font-family: forAllSite;
  color: #f3e4bb;
}

section .projects-grid .block .description .mark-link-text > a:visited {
  color: #c1c1fd;
}

section .projects-grid .block .description ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .projects-grid .block .description ul li a {
  display: block;
  text-decoration: none;
  font-family: forAllSiteBold;
  font-weight: bold;
  line-height: 37px;
  height: 40px;
  border-radius: 20px;
  background-color: #bed1e7;
  border: 2px solid #08b6f1;
}

section .projects-grid .block .description ul li:first-child {
  width: 140px;
}

section .projects-grid .block .description ul li:last-child {
  width: 40px;
}

@media screen and (max-width: 250px) {
  section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .description {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (min-width: 401px) and (max-width: 530px) {
  section {
    width: 95%;
    margin: 0 auto;
  }
  .projects-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-column-align: center;
        justify-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 531px) and (max-width: 800px) {
  .projects-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 801px) and (max-width: 1060px) {
  .projects-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1061px) and (max-width: 1450px) {
  .projects-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1451px) and (max-width: 2000px) {
  .projects-grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .projects-grid .block:last-child {
    -ms-grid-column: 3;
    grid-column: 3/3;
  }
}

@media screen and (min-width: 2001px) {
  .projects-grid {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}
/*# sourceMappingURL=projects.css.map */